#containerUserInput {
    /* height: 10%; */
    position: relative;
    top: 15%;
    border: 3px solid black;
    border-radius: 15px;
    background: darkgoldenrod;
    font-size: 24px;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: center;
    text-decoration: none;
}

input {
    font-size: 25px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}

input:focus {
    border: 5px solid black;
    font-style: italic;
}

#submitButton {
    background-color: black;
    color: darkgoldenrod;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    padding: 10px;
    font-weight: 600;
    margin-top: 50px;
    font-size: 25px;
    margin-top: 40px;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    height: 60px;
}

#submitButton:hover {
    font-size: 25px;
    height: 70px;
}